<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uiteste">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".admin.PerfilJogadorAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ListaDeJogadoresAdmin"
            android:exported="false" />
        <activity
            android:name=".calendario.ConvocatoriaSemCheckbox"
            android:exported="false" />
        <activity
            android:name=".calendario.ConvocatoriaTreinador"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".avisos.MenuAvisosTreinador"
            android:exported="false" />
        <activity
            android:name=".avisos.MenuAvisosEncarregado_Atleta"
            android:exported="false" />
        <activity
            android:name=".avisos.EliminarAvisos"
            android:exported="false" />
        <activity
            android:name=".avisos.EditarAvisos"
            android:exported="false" />
        <activity
            android:name=".calendario.CalendarioMensal"
            android:exported="false" />
        <activity
            android:name=".Faltas"
            android:exported="false" />
        <activity
            android:name=".calendario.WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".calendario.EditarEvento"
            android:exported="false" />
        <activity
            android:name=".InterfacesPrincipais.MenuTreinador"
            android:exported="false" />
        <activity
            android:name=".pagamentos.MenuPagamentos"
            android:exported="false" />
        <activity
            android:name=".admin.CriarUtilizador"
            android:exported="false" />
        <activity
            android:name=".InterfacesPrincipais.MenuJogador"
            android:exported="false" />
        <activity
            android:name=".pagamentos.Quotas"
            android:exported="false" />
        <activity
            android:name=".InterfacesPrincipais.MenuAdmin"
            android:exported="false" />
        <activity
            android:name=".InterfacesPrincipais.PerfilJogador"
            android:exported="false" />
        <activity
            android:name=".InterfacesPrincipais.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>